* {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #000000;
  --color-secondary: #666666;
  --font-family: "Helvetica", Arial, sans-serif;
  --spacing-unit: 1rem;
  --spacing-unit-margin: 3rem;
}

body {
  margin: 0 var(--spacing-unit-margin);
}

.header-container {
  border-bottom: 4px solid var(--color-primary);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-unit);
}

.header-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.header-img {
  height: 40px;
  width: 40px;
  background-color: rgb(61, 185, 185);
  object-fit: contain;
}

.header-search-container {
  /* flex-grow: 1;  el elemento puede crecer si hay mas espacio disponible*/
  /* flex-shrink: 1;  el elemento puede encogerse si el contenedor es mas pequeño*/
  /*flex-basis: 0; el tamaño base del elemento antes de disminuir el espacio es 0*/
  flex: 1;
  margin: 0 var(--spacing-unit);
}

.header-search-input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid var(--color-primary);
  flex: 1;
  width: 100%;
  border-radius: 15px;
}

.header-actions-container {
  display: flex;
  gap: var(--spacing-unit);
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}

.header-car-icon {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.header-singin {
  text-decoration: none;
  color: var(--color-primary);
  font-size: larger;
}

.header-nav-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding-bottom: var(--spacing-unit);
}

.header-nav-list li a {
  text-decoration: none;
  color: var(--color-primary);
}

.header-nav-list li a:hover,
.header-nav-list li a:focus {
  text-decoration: underline;
}

.conteiner-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--spacing-unit) 0;
}

.conteiner-section-one {
  display: flex;
}

.conteiner-section-p {
  background-color: #3ec7c7;
  width: 350px;
  height: 350px;
  color: white;
}
.img-conteiner-section-one {
  width: 350px;
  height: 350px;
}
